
.launch-btn {
  position: relative;
  padding: 18px 60px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-family: "Times New Roman", serif;
  background: linear-gradient(45deg, #ff4d88, #ff0066);
  transition: 0.4s ease;
  overflow: hidden;

  
  box-shadow: 0 0 15px rgba(255, 0, 102, 0.6),
              0 0 30px rgba(255, 0, 102, 0.5),
              0 0 60px rgba(255, 0, 102, 0.3);

  animation: pulseGlow 2s infinite alternate;
}


@keyframes pulseGlow {
  from {
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5),
                0 0 20px rgba(255, 0, 102, 0.4);
  }
  to {
    box-shadow: 0 0 25px rgba(255, 0, 102, 0.9),
                0 0 50px rgba(255, 0, 102, 0.7);
  }
}


.launch-btn:hover {
  transform: scale(1.1);
}


.launch-btn:hover .rocket-icon {
  position: absolute;
  right: -20px;
  animation: flyRocket 0.8s ease forwards;
}

@keyframes flyRocket {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(120px, -80px);
    opacity: 0;
  }
}
